/*dit is mijn menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(141, 201, 209);
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

/*dit is de achtergrond kleur en tekst grote+kleur*/

  body  { 
   background-color: lightblue; 
}

h1  {
   color: white;
   text-align: center;
   font-size: 40px;
}

h2  {
   font-size: 30px;
   color: blue;
}
p {
   font-family: verdana;
   font-size: 20px;
}

