<style>
      body {
        background-color: lightblue;
     }
     h1  {
        color: white;
        text-align: center;
     }
     p {
        font-family: verdana;
        font-size: 15px;
     }
     </style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #97ccd8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }


